name: Check package-lock for compromised dependencies

on:
  push:
    branches: [ main, master ]
  pull_request:

jobs:
  check-lock:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run package-lock check
        uses: InteropIO/javascript-check-dependencies-action@master
        with:
          rules_url: https://raw.githubusercontent.com/InteropIO/javascript-check-dependencies-action/refs/heads/master/bad-deps.json